node_modules
dist
.env*

#storybook build directory
storybook-static
*storybook.log

alextheman-components-*
.DS_Store
.pnpm-store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
